<h1 mat-dialog-title>Add a comment</h1>
<div mat-dialog-content *ngIf="!loading">

    <mat-select style="margin: 10px" [(ngModel)]="typeSelect" >
        <mat-option *ngFor="let option of options" [value]="option.id">{{option.name}}</mat-option>

    </mat-select>

    <div *ngIf="typeSelect == 1" style="margin: 15px 0">
        <button mat-raised-button *ngIf="!recording" color="primary" (click)="initiateRecording()">Record</button>
        <button mat-raised-button *ngIf="recording" color="accent" (click)="stopRecording()">Stop Recording</button>
    </div>
    <div *ngIf="typeSelect == 2" style="margin: 15px 0">
        <mat-form-field>
            <input matInput placeholder="Your comment here..." [(ngModel)]="textInput"/>
        </mat-form-field>
    </div>


</div>

<div mat-dialog-content *ngIf="loading">

<mat-spinner style="left: 25%;"></mat-spinner>

</div>
<div mat-dialog-actions *ngIf="!loading">
    <button mat-button (click)="dismiss()">Ok</button>
</div>

