mat-grid-tile {
    overflow: visible;
}

mat-card-header {
    width: 100%;
}

.example-card {
    margin: 10px;
    width: 100%;
}

.single-line {
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.status-marker {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.not-started-marker {
    background: red;

}

.in-progress-marker {
    background: #ffa71d;
}


.done-marker {
    background: #02b523;
}

.graded-marker {
    background: #3F51B5;
}
