<ng-container *ngIf="!isComponent">
<div *ngIf="pages$ | async as pages" style="padding: 10px;">
    <h2 *ngIf="lesson">Lesson: {{lesson.name}}</h2>
    <h5 *ngIf="lesson?.due">Due On: {{lesson.due | date}}</h5>

    <mat-grid-list cols="6" rowHeight="180px">
        <ng-container *ngFor="let page of pages">
        <mat-grid-tile *ngIf="page.status == 'PUBLISHED'">
            <mat-card class="example-card" >
                <mat-card-header>
                    <mat-card-title>{{"("+ (page.pageOrder + 1) + ") " + page.name}}</mat-card-title>
                    <mat-card-subtitle>{{page.questions.length}} Questions</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="page.submissions">
                    <p *ngIf="page.submissions.length == 0">No submissions</p>
                    <p *ngIf="page.submissions.length > 0">{{page.submissions.length}} Submissions</p>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-button *ngIf="page.submissions == null || page.submissions.length == 0" (click)="startNewSubmission(page)">START</button>
                    <button mat-button *ngIf="page.submissions != null && page.submissions.length > 0" (click)="continueSubmission(page.submissions[0].id)">CONTINUE</button>
                </mat-card-actions>
            </mat-card>


        </mat-grid-tile>
        </ng-container>
    </mat-grid-list>

</div>
</ng-container>
<ng-container *ngIf="isComponent && hasLessons()">
    <div style="padding: 10px;">

        <h2 *ngIf="lesson">Lesson: {{lesson.name}}</h2>
        <h5 *ngIf="lesson?.due">Due On: {{lesson.due | date}}</h5>

        <mat-grid-list cols="6" rowHeight="180px" >
            <ng-container *ngFor="let page of pages">
            <mat-grid-tile *ngIf="page.status == 'PUBLISHED'">


                <mat-card class="example-card">

                    <mat-card-header>
                        <div class="not-started-marker status-marker" *ngIf="page.submissions == null || page.submissions.length == 0"></div>
                        <div class="in-progress-marker status-marker" *ngIf="(page.submissions != null && page.submissions.length > 0) && !hasCompletedPage(page)"></div>
                        <div class="done-marker status-marker" *ngIf="(page.submissions != null && page.submissions.length > 0) && hasCompletedPage(page) && !hasGradedPage(page)"></div>
                        <div class="graded-marker status-marker" *ngIf="(page.submissions != null && page.submissions.length > 0) && hasCompletedPage(page) && hasGradedPage(page)"></div>



                        <mat-card-title class="single-line">{{"("+ (page.pageOrder + 1) + ") " + page.name}}</mat-card-title>
                        <mat-card-subtitle class="single-line">{{page.questions.length}} Questions</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content *ngIf="page.submissions">
                        <p *ngIf="page.submissions.length == 0">No submissions</p>
                        <p *ngIf="page.submissions.length > 0 && !hasGradedPage(page)">{{page.submissions[0].status.substring(0,1) + page.submissions[0].status.substring(1,page.submissions[0].status.length).toLocaleLowerCase()}} <span *ngIf="hasGradedPage(page)">- {{page.submissions[0].grade}}</span></p>
                        <p *ngIf="page.submissions.length > 0 && hasGradedPage(page)">You recieved the grade <b>{{page.submissions[0].grade}}</b></p>
                    </mat-card-content>
                    <mat-card-actions >
                        <button mat-button *ngIf="page.submissions == null || page.submissions.length == 0" (click)="startNewSubmission(page)">START</button>
                        <button mat-button *ngIf="page.submissions != null && page.submissions.length > 0 && !hasCompletedPage(page)" (click)="continueSubmission(page.submissions[0].id)">CONTINUE</button>
                        <button mat-button *ngIf="page.submissions != null && page.submissions.length > 0 && hasCompletedPage(page)" (click)="continueSubmission(page.submissions[0].id)">VIEW SUBMISSION</button>

                    </mat-card-actions>


                </mat-card>


            </mat-grid-tile>
            </ng-container>
        </mat-grid-list>



    </div>
</ng-container>
