<br/>

<mat-card class="centered">
    <form>
        <mat-form-field >
            <input matInput placeholder="Name" name="name" [(ngModel)]="lesson.name">
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="lesson.due" name="due">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!--<mat-form-field>-->
        <!--<textarea matInput"></textarea>-->
        <!--</mat-form-field>-->
        <br/>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </form>
</mat-card>
