<section class="container-gradebook mat-elevation-z8">

    <table *ngIf="users$ | async as users" class="grading-table">

        <!-- layout table headers and col data -->

        <thead>
        <tr>
            <th class="left-table-column">Pages
                <mat-icon>arrow_right_alt</mat-icon>
            </th>
            <ng-container *ngIf="pages$ | async as pages">
                <ng-container class="submission" *ngFor="let page of pages | positionOrder : 'asc'">
                    <th *ngIf="page.pageOrder > 0"><p></p></th>
                    <th class="grading-data" *ngIf="page.questions.length > 0" [colSpan]="page.questions.length">
                        <button mat-raised-button matTooltip="Open Page" style="width: 100%;"
                                [routerLink]="'/lessonPage/builder/'+page.id">{{page.name}}</button>
                    </th>
                </ng-container>
            </ng-container>
            <th rowspan="2" class="grades" style="right: 135px;">Grades</th>
            <th rowspan="2" class="grades">Actions</th>

        </tr>
        <tr>
            <th class="left-table-column">Students
                <mat-icon>arrow_downward</mat-icon>
            </th>
            <ng-container *ngIf="pages$ | async as pages">
                <ng-container class="submission" *ngFor="let page of pages | positionOrder : 'asc'">
                    <th *ngIf="page.pageOrder > 0"><p></p></th>
                    <th class="grading-data"
                        *ngFor="let question of page.questions | positionOrder : 'asc'">{{question.position + 1}}</th>

                </ng-container>
            </ng-container>
        </tr>

        </thead>


        <!-- Start of table body. -->
        <tbody>
        <tr *ngFor="let user of users">
            <td class="left-table-column">{{user.fullName}}</td>
            <ng-container *ngIf="pages$ | async as pages">
                <ng-container class="submission" *ngFor="let page of pages | positionOrder : 'asc'">
                    <td *ngIf="page.pageOrder > 0"><p></p></td>
                    <ng-container class="question" *ngFor="let question of page.questions | positionOrder : 'asc'">
                        <td class="grading-data grading-data-{{response.status}}"
                            [matTooltip]="getPrettyStatusName(response.status)"
                            *ngIf="getResponseForPageAndQuestion(page,user, question) as response"
                            [routerLink]="'/faculty/grade/'+getSubmissionIdForPageAndUser(page,user)" [queryParams]="{questionIndex: question.position}" >
                            <mat-icon>{{getIconForStatus(response.status)}}</mat-icon>
                        </td>
                        <td class="grading-data grading-data-NO_SUB" matTooltip="No Response Yet"
                            *ngIf="!getResponseForPageAndQuestion(page,user, question)">
                            <mat-icon>hourglass_empty</mat-icon>
                        </td>
                    </ng-container>

                </ng-container>
            </ng-container>
            <td class="grades" style="right: 135px;">
                <div class="classic-input-style" style="background: white;padding: 1px 3px 1px 1px !important;width: fit-content;">
                    <input class="grade-input" type="number" placeholder="grade" [(ngModel)]="grades[user.id]"/>
                    <span class="grade-input-addon">/{{getMaxPossibleGrade(user)}}</span>
                </div>
            </td>


            <td class="grades">
                <button mat-raised-button (click)="submitGradeForUserForLesson(user)"> Submit grade</button>
            </td>

        </tr>
        </tbody>
    </table>

</section>
