/* You can add global styles to this file, and also import other style files */

/* ANGULAR SCAFFOLDING STYLES */

/* You can add global styles to this file, and also import other style files */

/*
Include angular material here first.
 */
@import "~@angular/material/theming";
@include mat-core();

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~trumbowyg/dist/ui/trumbowyg.min.css";


$omega-app-primary: mat-palette($mat-cyan, 900);
$omega-app-accent: mat-palette($mat-cyan, 800);
$omega-app-warn: mat-palette($mat-red, 400);

$omega-app-theme: mat-light-theme($omega-app-primary, $omega-app-accent, $omega-app-warn);

@include angular-material-theme($omega-app-theme);


.trumbowyg-box,
.trumbowyg-editor {
  min-height: 50px;
}

// FlexBox Settings

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  overflow: auto;
  flex-grow: 1;
  flex-basis: 300px;
  margin: 10px;
}


a {
  color: #028fa9;
}


.index {
  font-family: 'Roboto', sans-serif;
}

.standard-table-width {
  width: 100vw;
  max-width: fit-content;
}

.centered {

  left: calc(50% + 10px);
  position: relative;
  transform: translate(-50%, 0);
}


.width-50 {
  width: 50%;
}

.mat-cell {
  overflow: visible;
  width: fit-content;
  padding:10px;
}

.padding-10 {
  padding: 10px;
}


.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
  align-items: initial !important;
}

//.mat-grid-tile .mat-figure .ng-star-inserted{
//  width: 100%;
//}

body {
  margin: 0;
  font-family: "gubblebum-blocky", monospace;
  background: #f7f1f1;
}


.mat-form-field-label {
  height: 100%;
}

.mat-form-field {
  display: unset !important;
  position: unset;
  text-align: unset;
  /* display: inline-block; */
  /* position: relative; */
  /* text-align: left; */
}



.mat-form-field-label > mat-label {
  position: relative;
  top:4px;
  left:4px;
}


.classic-input-style {
  border: 1px solid #3193bb !important;
  padding: 10px !important;
  border-radius: 5px !important;
  color: #3193bb !important;
}

.cloze-input-item {
  font-size: 16px;
  margin: 7px;
}

.classic-input-style-datepicker-toggle {
  transform: translate(-20%, -110%);
  position: absolute;
}

.answer-label {
  color: #3193bb;
  top: 9px !important;
}

.ng-touched.invalid  input {
  border: 1px solid #ff4d52 !important;
  padding: 10px !important;
  border-radius: 5px !important;
  color: #ff4d52 !important;
}


.ng-touched.invalid mat-label {
  color: #ff4d52 !important;
}

.answer-input-flex .check-icon {
  transform: translate(-4px, 7%) !important;
  float: unset !important;
}

.answer-input-flex .option-item {
  text-align: center;
}


.answer-input-wide {
  width: 70% !important;

}

.warn {
  color: mat-color($omega-app-warn);
}

.primary {
  color: mat-color($omega-app-primary);
}

.accent {
  color: mat-color($omega-app-warn);
}

*:focus {
  outline: none;
}

.cloze_prompt {
  display: inline-block;
  cursor: pointer;
  background-color: #607D8B;
  border-radius: 5px;
  color: white;
  padding: 10px;
  vertical-align: middle;
  margin-bottom: 5px;

}

.align-middle {
  vertical-align: middle;
}


.icon-q-block {

  width: 30px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.icon-q-block-0 {
  /*    Question Type - MULTI_CHOICE */
  background: #E91E63;
}

.icon-q-block-0::before {
  content: "list";
}

.icon-q-block-1 {
  /*    Question Type - SHORT_TEXT */
  background: #9C27B0;
}

.icon-q-block-1::before {
  content: "text_fields";
}

.icon-q-block-2 {
  /*    Question Type - LONG_TEXT */
  background: #673AB7;
}

.icon-q-block-2::before {
  content: "assignment";
}

.icon-q-block-3 {
  /*    Question Type - BLOCK_TEXT */
  background: #3F51B5;
}

.icon-q-block-3::before {
  content: "format_quote";
}

.icon-q-block-4 {
  /*    Question Type - PICTURE_CHOICE */
  background: #2196F3;
}

.icon-q-block-4::before {
  content: "insert_photo";
}

.icon-q-block-5 {
  /*    Question Type - BOOLEAN */
  background: #F44336;
}

.icon-q-block-5::before {
  content: "flip";
}

.icon-q-block-6 {
  /*    Question Type - SCALE */
  background: #03A9F4;
}

.icon-q-block-6::before {
  content: "linear_scale";
}


.icon-q-block-7 {
  /*    Question Type - DATE */
  background: #00BCD4;
}
.icon-q-block-7::before {
  content: "date_range";
}


.icon-q-block-8 {
  /*    Question Type - NUMBER */
  background: #009688;
}

.icon-q-block-8::before {
  content: "exposure_neg_1";
}

.icon-q-block-9 {
  /*    Question Type - DROPDOWN */
  background: #4CAF50;
}

.icon-q-block-9::before {
  content: "arrow_drop_down";
}
.icon-q-block-10 {
  /*    Question Type - VOICE */
  background: #795548;
}

.icon-q-block-10::before {
  content: "mic";
}

.icon-q-block-11 {
  /*    Question Type - CLOZE */
  background: #607D8B;
}

.icon-q-block-11::before {
  content: "minimize";
}



.sidebar-form-input > .mat-form-field-wrapper {
  padding-bottom: 0;
}

.bordered-option {
  border: 1px solid #3193bb;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background: #3193bb1a;
  color: #3193bb;
  white-space: nowrap;
}

.cloze.bordered-option {
  margin: 10px;
}


.status-icon {
  padding: 9px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
}

.status-icon-plain {
  border: 1px solid #464646;
  color: #464646;
}


.status-icon-DRAFT {
  background-color: #ffa500;
}


.status-icon-SUBMITTED, .status-icon-PUBLISHED  {
  background-color: #00a525;
}

.status-icon-GRADED {
  background-color: #3F51B5;
}


*[ng-reflect-router-link] {
  cursor: pointer;
}

.rtl {
  text-align: right;
}

.mat-card-header-text {
  width: 100%;
}



// Declare Font dependency here

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


