<div id="content" role="main">
    <section class="colset-2-its">
        <h1 style="text-align:center;">Welcome to LL Faculty</h1>

        <div class="list-container">
            <div class="item" *ngIf="submissions$ | async as submissions">
                <mat-card class="simple-card-content">
                    <mat-card-header>
                        <mat-card-title>Recent Submissions</mat-card-title>
                        <mat-card-subtitle>{{submissions.length}} Submissions</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>

                        <!-- List of top 5 recent submissions -->
                        <mat-list role="list" *ngIf="!loading.submission">
                            <mat-list-item role="listitem" class="clickable-list-item"
                                           *ngFor="let submission of submissions | slice:0:limits.submission" [routerLink]="'/faculty/grade/' + submission.id">
                                <mat-icon mat-list-icon>create</mat-icon>
                                <h4 mat-line [style.width.%]="submission.status == 'DRAFT' ? 78 : 80"  style=" font-size: min(3vw,16px);white-space: pre-wrap;overflow: auto;"><span class="special-span-tag-item">{{submission.user.username}}</span> for page <span class="special-span-tag-item">{{submission.page.name}}</span> in lesson <span class="special-span-tag-item">{{submission.lesson.name}}</span> in course <span class="special-span-tag-item">{{submission.lesson.course.name}}</span></h4>

                                <p mat-line> {{(submission.status === "DRAFT" ? submission.drafted : submission.submitted) | date}} </p>

                                <span class="status-icon status-icon-{{submission.status}}">
                                    {{submission.status}}
                                </span>


                            </mat-list-item>

                        </mat-list>
                        <mat-spinner *ngIf="loading.submission"></mat-spinner>

                    </mat-card-content>
                    <mat-card-actions *ngIf="submissions.length > 5">
                        <button mat-button
                                (click)="limits.submission == submissions.length ? limits.submission = 5 : limits.submission = submissions.length">
                            View All Submissions
                        </button>
                    </mat-card-actions>


                </mat-card>
            </div>
            <div class="item"  *ngIf="courses$ | async as courses">
                <mat-card class="simple-card-content">
                    <mat-card-header>
                        <mat-card-title>Courses</mat-card-title>
                        <mat-card-subtitle>{{courses.length}} Courses</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>

                        <!-- List of top 5 recent submissions -->
                        <mat-list role="list" *ngIf="!loading.course">
                            <mat-list-item role="listitem"
                                           *ngFor="let course of courses | slice:0:limits.course" [routerLink]="'/lesson/index/'+course.id">
                                <h4 mat-line>{{course.name}}</h4>

                                <span
                                        class="status-icon status-icon-plain">{{course.lessons.length + " "}}Lessons</span>

                                <p mat-line> ({{course.id}}) </p>


                            </mat-list-item>

                        </mat-list>
                        <mat-spinner *ngIf="loading.course"></mat-spinner>

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="accent"
                                routerLink="/course/index">
                            View All Courses
                        </button>
                    </mat-card-actions>


                </mat-card>
            </div>

            <div class="item" *ngIf="isAdmin() && users$ | async as users">
                <mat-card class="simple-card-content">
                    <mat-card-header>
                        <mat-card-title>Users</mat-card-title>
                        <mat-card-subtitle>{{users.length}} Users</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>

                        <!-- List of top 5 recent submissions -->
                        <mat-list role="list" *ngIf="!loading.user">
                            <mat-list-item role="listitem"
                                           *ngFor="let user of users | slice:0:limits.user">
                                <mat-icon mat-list-icon>person</mat-icon>
                                <h4 mat-line>{{user.username}}</h4>

                            </mat-list-item>

                        </mat-list>
                        <mat-spinner *ngIf="loading.user"></mat-spinner>

                    </mat-card-content>
                    <mat-card-actions >
                        <button mat-button routerLink="/user/index">
                            View All Users
                        </button>

                    </mat-card-actions>


                </mat-card>
            </div>

        </div>



<!--        <mat-grid-list [cols]="isFaculty() ? 3 : 2">-->
<!--            <mat-grid-tile >-->

<!--            </mat-grid-tile>-->


<!--            <mat-grid-tile>-->

<!--            </mat-grid-tile>-->


<!--            <mat-grid-tile >-->

<!--            </mat-grid-tile>-->
<!--        </mat-grid-list>-->
    </section>
</div>
