<mat-toolbar>
  <mat-toolbar-row>
    <span>Question Settings</span>
    <span class="example-spacer"></span>
    <mat-icon aria-hidden="false" class="sidebar-close-icon" aria-label="Close the sidebar" (click)="closeSidebarAction()">close</mat-icon>
  </mat-toolbar-row>


</mat-toolbar>

<form class="sidebar-form">
<mat-form-field class="sidebar-form-input">
  <mat-label>Question Type</mat-label>
  <mat-select [(ngModel)]="question.type" name="type-select">
    <mat-option *ngFor="let type of questionTypes" [value]="type.value">
      {{type.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>

  <mat-slide-toggle class="sidebar-form-input" color="primary" [(ngModel)]="question.required" name="required">
    Required
  </mat-slide-toggle>

    <mat-slide-toggle class="sidebar-form-input" color="primary" name="description" [(ngModel)]="question.custom_properties.description_enabled">
      Description
    </mat-slide-toggle>


  <mat-slide-toggle *ngIf="isOfType([QuestionType.DROPDOWN])" class="sidebar-form-input" color="primary" name="multi" [(ngModel)]="question.custom_properties.alphabetical">
    Alphabetical
  </mat-slide-toggle>

  <mat-slide-toggle *ngIf="isOfType([QuestionType.MULTI_CHOICE,QuestionType.PICTURE_CHOICE])" class="sidebar-form-input" color="primary" name="multi" [(ngModel)]="question.custom_properties.multi">
    Multiple selection
  </mat-slide-toggle>

  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.MULTI_CHOICE,QuestionType.PICTURE_CHOICE]) && question.custom_properties.multi">
    <mat-label>Selection Limits</mat-label>
    <mat-select [(ngModel)]="question.custom_properties.multi_select_type" name="selection-limit">
      <mat-option value="1">
        Unlimited
      </mat-option>
      <mat-option value="2">
        Range
      </mat-option>
      <mat-option value="3">
        Exact Number
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.MULTI_CHOICE,QuestionType.PICTURE_CHOICE]) && question.custom_properties.multi && question.custom_properties.multi_select_type == 3">
    <mat-label>Max</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.multi_limit_max" name="selection-limit-exact" class='sidebar-sub-input' type="number"/>
  </mat-form-field>


  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.LONG_TEXT,QuestionType.SHORT_TEXT])">
    <mat-label>Max Chars</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.max_chars" name="selection-max-chars" class='sidebar-sub-input' type="number" />
  </mat-form-field>


  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.MULTI_CHOICE,QuestionType.PICTURE_CHOICE]) && question.custom_properties.multi && question.custom_properties.multi_select_type == 2">
    <mat-label>Min</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.multi_limit_min" name="selection-limit-range-min" class='sidebar-sub-input' type="number"/> <span style="padding: 10px;line-height: 30px;">-</span>
  </mat-form-field>


  <mat-form-field class="sidebar-form-input-right" *ngIf="isOfType([QuestionType.MULTI_CHOICE,QuestionType.PICTURE_CHOICE]) && question.custom_properties.multi && question.custom_properties.multi_select_type == 2">
    <mat-label>Max</mat-label>
  <input matInput [(ngModel)]="question.custom_properties.multi_limit_max" name="selection-limit-range-max" class='sidebar-sub-input' type="number"/>
  </mat-form-field>


  <mat-slide-toggle *ngIf="isOfType([QuestionType.MULTI_CHOICE,QuestionType.PICTURE_CHOICE])" class="sidebar-form-input" color="primary" name="random" [(ngModel)]="question.custom_properties.random">
    Randomize
  </mat-slide-toggle>

  <mat-slide-toggle *ngIf="isOfType([QuestionType.MULTI_CHOICE])" class="sidebar-form-input" color="primary" name="random" [(ngModel)]="question.custom_properties.stack">
    Stack Options
  </mat-slide-toggle>



  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.DATE])">
    <mat-label>Date Format (YYYY-MM-DD)</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.format" name="selection-date-format" class='sidebar-sub-input input-extra-long' type="text"/>
  </mat-form-field>

  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.NUMBER])">
    <mat-label>Min</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.min" name="selection-min-value" class='sidebar-sub-input' type="number" />
  </mat-form-field>

  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.NUMBER])">
    <mat-label>Max</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.max" name="selection-max-value" class='sidebar-sub-input' type="number" />
  </mat-form-field>


  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.SCALE])">
  <mat-label>Start</mat-label>
  <input matInput [(ngModel)]="question.custom_properties.start" name="selection-start-value" class='sidebar-sub-input' type="number" />
  </mat-form-field>

  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.SCALE])">
    <mat-label>End</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.end" name="selection-end-value" class='sidebar-sub-input' type="number" />
  </mat-form-field>

  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.SCALE])">
    <mat-label>Step</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.step" name="selection-step-value" class='sidebar-sub-input' type="number" />
  </mat-form-field>

  <mat-form-field class="sidebar-form-input" *ngIf="isOfType([QuestionType.SCALE])">
    <mat-label>Label</mat-label>
    <input matInput [(ngModel)]="question.custom_properties.label" name="selection-label-value-1" class='sidebar-sub-input'/><span style="padding: 10px;line-height: 30px;">-</span>
    <input matInput [(ngModel)]="question.custom_properties.label" name="selection-label-value-2" class='sidebar-sub-input'/><span style="padding: 10px;line-height: 30px;">-</span>
    <input matInput [(ngModel)]="question.custom_properties.label" name="selection-label-value-3" class='sidebar-sub-input'/>

  </mat-form-field>






</form>
