.icon-holder {
    display: flex;
    position: absolute;
    /* left: 0; */
    transform: translate(-130%, 10%);
    padding: 2px;
    background: white;
    border-radius: 26px;
}

.saved{
    color: #117911;
}

.unsaved {
    color: #ff4634;
}

.container {
    display: flex;
}

.section {
    margin-left: 10px;
}

.classic-input-style-custom {
    border: 1px solid white !important;
    padding: 6px !important;
    border-radius: 5px !important;
}
