.full-page-divider {
    border-top: 1px solid #b7b6b6;
    width: 100%;
    height: 72px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    margin: 30px 0 0;
}

.submit-button {
    background: #3193bb;
    color: white;
    float: left;
    transform: translate(100%, 50%);
}

.lesson-renderer {
    width: 100%;
    display: block;
    position: absolute;
    margin-bottom: 100px;
}



@media only screen and (min-width: 1400px){

    .lesson-renderer {
        width: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, 0);
        position: absolute;
    }


}
