<div *ngIf="submission$ | async as submission">
    <div *ngIf="submission && page$ | async as page">
        <app-lesson-renderer [lesson]="page" [submission]="submission" (answerChanged)="answerChanged($event)" class="lesson-renderer"></app-lesson-renderer>
        <div class="full-page-divider">
            <button mat-raised-button class="submit-button" (click)="submit(submission)">Submit</button>
        </div>
    </div>
</div>
