.full-page-divider {
    border-top: 1px solid #b7b6b6;
    width: 100%;
    margin: 0;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
}

.submit-button {
    background: #3193bb;
    color: white;
    margin-bottom: 10px;
    margin-left: 25px;
    position: fixed;
    bottom: 0;
    left: 3%;
}

.lesson-renderer {
    width: 100%;
    display: block;
    position: absolute;
    margin-bottom: 30px;
}



@media only screen and (min-width: 1400px){

    .lesson-renderer {
        width: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, 0);
        position: absolute;
    }


}
