<br/>

<mat-card class="centered standard-table-width">
    <mat-card-header>
        <mat-card-title>Create Course</mat-card-title>
    </mat-card-header>
    <form>
        <mat-form-field >
            <input matInput placeholder="Name" name="name" [(ngModel)]="course.name">
        </mat-form-field>

        <mat-form-field >
            <input matInput placeholder="Moodle Id" name="moodle_master_id" [(ngModel)]="course.moodle_master_id">
        </mat-form-field>

        <br/>
        <button mat-raised-button color="primary" (click)="create()">Create</button>
    </form>
</mat-card>
