<div class="index">
    <div class="standard-table-width centered">
        <h1 class="">Terms</h1>
        <mat-table class=" mat-elevation-z8 " style="width: 100%" [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Term Id</mat-header-cell>
                <mat-cell *matCellDef="let term">{{term.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let term">{{term.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef>Current Term</mat-header-cell>
                <mat-cell *matCellDef="let term">{{term.current}}</mat-cell>
            </ng-container>

<!--            <ng-container matColumnDef="courses">-->
<!--                <mat-header-cell *matHeaderCellDef>Courses</mat-header-cell>-->
<!--                <mat-cell *matCellDef="let term">-->
<!--                    <button mat-stroked-button color="secondary" *ngIf="term.courses != null && term.courses.length > 0" [routerLink]="'/course/index/' + term.id">View {{term.courses.length}} Courses</button>-->
<!--                    <button mat-stroked-button color="secondary" *ngIf="term.courses == null || term.courses.length == 0" [routerLink]="'/course/create/'" [queryParams]="{'termId':term.id}">Add Course</button>-->
<!--                </mat-cell>-->
<!--            </ng-container>-->

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let term">

                    <button mat-stroked-button color="accent" [routerLink]="'/term/edit/'+term.id">Edit</button>&nbsp;
                    <button mat-stroked-button color="secondary"  (click)="makeCurrent(term)" [disabled]="term.current">{{term.current ? 'Current Course' : 'Make Current'}}</button>&nbsp;
                    <button mat-stroked-button color="warn" (click)="delete(term.id)">Delete</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
        <div class="padding-10">
            <button mat-fab color="primary" routerLink="/term/create"><i class="material-icons">add</i></button>
        </div>
    </div>

</div>
