.recording-parent {
    width: 100%;
    border: 1px solid #3193bb;
    height: fit-content;
    text-align: center;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.viz
{
    background-color: #fff;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    border: 1px solid #3193bb;
}

.button-holders > button{
    margin: 15px 5px;
   }


.comment-bubble {
    position: absolute;
    width: fit-content;
    transform: translate(-50%, -13px);
}
.comment-bubble-closed {
    z-index: 5;
}
.comment-bubble-open {
    z-index: 10;
    transform: translate(-50%, calc(-78% - 13px));
}

.comment-bubble-open-header {
    margin: 0 16px 0 0;
}
.comment-bubble-closed-header{
    margin: 0;
}





.comment-bubble-item {
    height: fit-content;
    display: table;
}

.comment-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-color: #e0e0e0;
    border-bottom: 0;
    margin-left: -11px;
    margin-bottom: -11px;
}
/* This is the close button in the comment chip */
.comment-bubble-close {
    font-size: 16px;
    margin-left: 7px;
    position: absolute;
    right: 5px;
    border: 1px solid black;
    border-radius: 10px;
    top: 5px;
}

.comment-bubble-content {
    padding: 15px;
}

.popup-container {
    z-index: 1;
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    transform: translate(-50%, 12px);
    background: #e0e0e0;
    border-radius: 54px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.popup-container > h5 {
    margin: 5px;
}

.popup-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: #e0e0e0;
    border-top: 0;
    margin-left: -11px;
    margin-top: -11px;
}


.viz-pitch {
    background-color:#000;
    width: 70%;
    height: 200px;
    display: block;
    margin: 20px auto;
}
.viz-container
{
    height:80px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    width:100%;
}

canvas
{
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-interpolation-mode:nearest-neighbor;
    -ms-user-select:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    image-rendering:pixelated;
    user-select:none;
}


.clearfix {
    height: 30px;
}

.recording-item {
    width: 105px;
    height: 105px;
    border-radius: 55px;
    border: 1px solid red;
    margin: 0 auto;
}

.recording-item > i {
    color: white;
    transform: translate(0px, -265%);
    position: relative;
}



.Blink {
    -webkit-animation: led 3s infinite;
    -moz-animation: led 3s infinite;
    -ms-animation: led 3s infinite;
    -o-animation: led 3s infinite;
    animation: led 3s infinite;

    position: relative;
    width: 100%;
    background: red;
    height: 100%;
    border-radius: 50%;
}

@-webkit-keyframes led {
    from {
        transform: scale(1);
    }

    to {

        transform: scale(0.3);
    }
}

@-moz-keyframes led {
    from {
        transform: scale(1);
    }

    to {

        transform: scale(0.3);
    }
}

@-ms-keyframes led {
    from {
        transform: scale(1);
    }

    to {

        transform: scale(0.3);
    }
}

@-o-keyframes led {
    from {
        transform: scale(1);
    }

    to {

        transform: scale(0.3);
    }
}

@keyframes led {
    0% {
        transform: scale(1);
    }
    10%{
        transform: scale(0.5);
    }
    20%{
        transform: scale(0.7);
    }
    30% {

        transform: scale(0.3);
    }
    40% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.4);
    }

    60% {
        transform: scale(0.5);
    }
    65% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(0.4);
    }
    80%{
        transform: scale(0.85);
    }
    90%{
        transform: scale(0.4);
    }
    100% {
        transform: scale(1);
    }

}
