<div class="recording-parent">
    <div class="recording-item" *ngIf="!isReal">
        <div class="Blink"></div>
        <i class="material-icons">mic</i>
    </div>
    <div *ngIf="isReal">


        <audio class="audio-controller" *ngIf="question.prompts?.audioPrompt" [controls]="!question.custom_properties.prompt_sync" [id]="'prompt_'+question.id">
            <source [src]="question.prompts?.audioPrompt.url">
        </audio>
        <div *ngIf="question.custom_properties.prompt_sync && question.prompts?.audioPrompt">
            <p>Audio prompt will play when recording starts.</p>
        </div>
        <br/>
        <button mat-raised-button (click)="initiateRecording()" *ngIf="!isGrading && !recording"> Start Recording
        </button>
        <button mat-raised-button (click)="stopRecording()" color="accent" *ngIf="!isGrading && recording"> Stop
            Recording
        </button>
        <div class="clearfix"></div>

        <div *ngIf="!loading && canvas != null && response">
            <div *ngFor="let comment of response.comments">
                <mat-chip-list class="comment-bubble"
                               [ngClass]="{'comment-bubble-open':comment.id === selectedComment,'comment-bubble-closed':comment.id !== selectedComment}"
                               [style.left.px]="getCommentLocation(comment.location, comment.endLocation)">
                    <mat-chip color="primary" class="comment-bubble-item"
                              (click)="selectComment(comment)">
                        <p [ngClass]="{'comment-bubble-ope-header':comment.id === selectedComment,'comment-bubble-closed-header':comment.id !== selectedComment}" >{{comment.user.firstname + " " + comment.user.surname}}</p>

                        <i class="material-icons comment-bubble-close" (click)="deSelectComment($event)"
                           *ngIf="comment.id === selectedComment">close</i>
                        <div class="comment-bubble-content" *ngIf="comment.id === selectedComment">


                            <div *ngIf="comment.voice_clip != null">
                                <audio class="audio-controller" controls="">
                                    <source [src]="getLinkForAudioClip(comment.voice_clip)">
                                </audio>
                            </div>
                            <div *ngIf="comment.comment_text != null">
                                <p>{{comment.comment_text}}</p>
                            </div>
                        </div>

                    </mat-chip>
                </mat-chip-list>
            </div>


        </div>

        <app-pitch-render *ngIf="hasRecording && duration != undefined && question.custom_properties.show_pitch_viz"  [recordingId]="rawValue" [duration]="duration"></app-pitch-render>

        <div class="viz-container" [id]="'container_'+ question.id" *ngIf="hasRecording">

            <canvas [id]="'canvas_'+question.id" *ngIf="!loading" class="viz" (click)="onCanvasClick($event)"
                    (mousedown)="onCanvasMouseDown($event)">
            </canvas>

        </div>

        <div (click)="addNewComment()" *ngIf="showAddCommentDialog"
             [style.left.px]="getCommentLocation(commentPosition.start,commentPosition.end)" class="popup-container">
            <h5>Add a Comment?</h5>
        </div>

        <div class="button-holders" *ngIf="hasRecording">
            <button mat-raised-button (click)="play()" *ngIf="!loading">Play</button>
            <button mat-raised-button (click)="stop()" *ngIf="!loading">Stop</button>

        </div>

        <mat-spinner *ngIf="loading"></mat-spinner>


    </div>
</div>
