<div class="svg" role="presentation">
  <div class="grails-logo-container">
    <img class="grails-logo" src="../../images/grailsplusangular.svg" alt="Grails plus angular"/>
  </div>
</div>

<div id="content" role="main">
  <section class="list-container colset-2-its">
    <h1 style="text-align:center;">Welcome to Grails</h1>

    <p>
      Congratulations, you have successfully started your first Grails application! At the moment
      this is the default page, feel free to modify it to either redirect to a controller or display
      whatever content you may choose. Below is a list of controllers that are currently deployed in
      this application, click on each to execute its default action:
    </p>

    <div id="controllers" role="navigation">
      <h2>Available Controllers:</h2>
      <ul>
        <li *ngFor="let c of controllers">
          <div [ngSwitch]="hasRoute(c.logicalPropertyName)">
            <a *ngSwitchCase="true" [routerLink]="'/' + c.logicalPropertyName">{{c.name}}</a>
            <a *ngSwitchCase="false" [href]="serverUrl + c.logicalPropertyName">{{c.name}}</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
