<div  class="index">
    <div class="centered standard-table-width">
    <h1 class="">Lesson Pages</h1>
    <mat-table class=" mat-elevation-z8 " style="width: 100%" [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Page ID</mat-header-cell>
            <mat-cell *matCellDef="let page">{{page.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Page Name</mat-header-cell>
            <mat-cell *matCellDef="let page">{{page.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let page">
                <button mat-stroked-button color="accent" [routerLink]="'/lessonPage/builder/'+page.id">Edit</button>   &nbsp;
                <button mat-stroked-button color="warn" (click)="delete(page.id)">Delete</button>
                <button mat-icon-button (click)="moveDown(page.id)" *ngIf="page.pageOrder > 0"><mat-icon>arrow_upward</mat-icon></button>
                <button mat-icon-button (click)="moveUp(page.id)" *ngIf="(page.pageOrder + 1) < sourceData.length"><mat-icon>arrow_downward</mat-icon></button>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <div class="padding-10">
        <button mat-fab color="primary" (click)="addNewLessonPageForEdit()"><i class="material-icons">add</i></button>
    </div>
    </div>
</div>
