<br/>

<mat-card class="centered standard-table-width">
    <mat-card-header>
        <mat-card-title>Edit Term</mat-card-title>
    </mat-card-header>
    <form>
        <mat-form-field >
            <input matInput placeholder="Name" name="name" [(ngModel)]="term.name">
        </mat-form-field>

        <!--<mat-form-field>-->
        <!--<textarea matInput"></textarea>-->
        <!--</mat-form-field>-->
        <br/>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </form>
</mat-card>
