
<mat-sidenav-container class="panel-containers">
    <mat-sidenav mode="side" [(opened)]="sidebar_open" class="side-panel">
        <!--// This side panel content will be populated by what ever question is currently selected-->

        <app-sidebar [question]="sidebar_question" (closeSidebar)="closeSidebar()" *ngIf="sidebar_question"></app-sidebar>

    </mat-sidenav>
    <mat-sidenav-content>


        <mat-grid-list cols="4" rowHeight="100%">
            <mat-grid-tile [colspan]="2" [rowspan]="1">


                <div *ngIf="lesson">
                    <app-lesson-question class="question-item" *ngFor="let question of lesson.questions" [question]="question" (questionSelected)="openSidebar($event)" [selectedQuestion]="currentQuestion"(click)="currentQuestion = question.id" ></app-lesson-question>
                </div>

            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" class="right-panel">
                <!--// This is the preview panel.-->
            </mat-grid-tile>
        </mat-grid-list>




        <div class="left-panel">


        </div>

        <div class="right-panel">



        </div>


    </mat-sidenav-content>
</mat-sidenav-container>

