.panel-containers {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.side-panel {
  min-width: 400px;
}

.right-panel {

  border-left: 1px solid #e2e2e2;
}

.question-item {

}



