.nav-link {
    padding: .5rem;
    border-radius: 3px;
}

.nav-link:hover, .nav-link:active {
    background-color: #db4800;
}

.grails-icon img {
    height: 27px;
    background-image: url("../../images/grails-cupsonly-logo-white.svg");
}

.navbar-spacer {
    flex: 1 1 auto;
}

.navbar-spacer-small {
    flex: 0.1 1 auto;
}

.navbar-spacer-micro {
    flex: 0.05 1 auto;
}

.term-display {
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}

.toolbar-dropdown {
    font-size: 13px;
    bottom: -5px;
}
