<!--<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #424649;">-->
<!--<h1>Hello</h1>-->
<!--</nav>-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span [routerLink]="applicationData?.isStudent ? '/student/index' : '/faculty/index'" style="cursor: pointer;">Language Lessons</span>
        <span class="navbar-spacer-micro"></span>
        <!--// Term selector-->

        <button mat-raised-button *ngIf="applicationData?.isSuperAdmin" routerLink="/superAdmin/dashboard" style="margin-right: 20px;">Back to Site Selection</button>

        <div *ngIf="applicationData && applicationData.isAdmin && applicationData.terms.length > 0">
            <!-- Put a dropdown to pick the current term.... -->
            <mat-form-field class="toolbar-dropdown">
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="currentTerm" (selectionChange)="didChangeTerm()">
                    <mat-option *ngFor="let term of applicationData.terms" [value]="term.id">{{term.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="applicationData && !applicationData.isAdmin">
            <!-- Just show the current term -->
            <p class="term-display">{{applicationData.term.name}}</p>
        </div>

        <span class="navbar-spacer-small"></span>
        <app-save-status *ngIf="shouldShowSaveStatus()"></app-save-status>

        <span class="navbar-spacer"></span>

        <button *ngIf="applicationData" [matMenuTriggerFor]="menu" mat-icon-button aria-hidden="false" aria-label="User icon">
            <mat-icon >person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
<!--            <button mat-menu-item disabled>-->
<!--                <mat-icon>voicemail</mat-icon>-->
<!--                <span>Check voice mail</span>-->
<!--            </button>-->
<!--            <button mat-menu-item>-->
<!--                <mat-icon>notifications_off</mat-icon>-->
<!--                <span>Disable alerts</span>-->
<!--            </button>-->
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
