<div  class="index">
    <div class="centered standard-table-width">
        <h1 style="margin-bottom: 0;">Lessons</h1>
        <h6 style="margin-top:0;"><a [routerLink]="'/course/edit/'+paramValue">Edit Course</a></h6>
<mat-table class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataSource">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Lesson Id</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{lesson.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let lesson">{{lesson.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pages">
        <mat-header-cell *matHeaderCellDef>Pages</mat-header-cell>
        <mat-cell *matCellDef="let lesson">
            <button mat-stroked-button color="secondary" *ngIf="!isFaculty() && lesson.pages != null && lesson.pages.length > 0">{{lesson.pages.length}} Pages</button>
            <button mat-stroked-button color="secondary" *ngIf="isFaculty() && lesson.pages != null && lesson.pages.length > 0" [routerLink]="'/lessonPage/index/' + lesson.id">View {{lesson.pages.length}} Pages</button>
            <button mat-stroked-button color="secondary" *ngIf="isFaculty() && lesson.pages == null || lesson.pages.length == 0" (click)="addPage(lesson.id)">Add Page</button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let lesson">
            <button mat-stroked-button color="accent" [routerLink]="'/faculty/gradebook/'+lesson.id">View Grades</button>&nbsp;
            <button mat-stroked-button color="accent" *ngIf="isFaculty()" [routerLink]="'/lesson/edit/'+lesson.id">Edit</button>&nbsp;
            <button mat-stroked-button color="warn" *ngIf="isFaculty()" (click)="delete(lesson.id)">Delete</button>
        </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>

        <div class="padding-10">
            <button mat-fab color="primary" *ngIf="isFaculty()" [routerLink]="['/lesson/create']" [queryParams]="{'courseId':paramValue}"><i class="material-icons">add</i></button>
        </div>
    </div>

</div>
