::ng-deep .mat-form-field-underline {
    display: none;
}

.question {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    color: #232323;
}

.required {
    color: red;
    font-size: 14px;
    vertical-align: super;
    margin-left: 10px;
}

.question > h3 {
    margin-bottom: 5px;
}
.question > h3 > b {
    padding-left: 10px;
    padding-right: 10px;
    color: #3193bb;
}

.question > h6 {
    margin: 0 0 0 45px;
    color: grey;
}


.answer-input {
    display: inline-block;
    margin: 40px 30px;
    width: fit-content;
    height: 100%;
}

.answer-input.fit-content {
    width: fit-content;
    min-width: 120px;
}

.answer-input-block {
    display: block;
}

.answer-input-flex {
    display: inline-flex;
}



.comment-section {
    border-top: 1px solid black;
    margin-top: 15px;
}

.comment {
    display: inline-flex;
    background: #cae1ea !important;
    color: #3193bb;
    border-radius: 6px;
    margin-top: 16px;
    border: 1px solid #3193bb !important;
    margin-left: 5px;
    min-width: 115px;
    max-width: 300px;
    width: fit-content;
    padding: 30px;
    position: relative;
}

/*.comment > p {*/
/*position: absolute;*/
/*}*/

.comment > .left {
    position: absolute;
    top: 3px;
    left: 8px;
}


.comment > .right {
    position: absolute;
    top: 3px;
    right: 8px;
}

.keep-format {
    white-space: pre-wrap;
    font-weight: 100;
}

.image-prompt {
    width: 15%;
    border: 1px solid #3193bb;
    border-radius: 5px;
}
