<div *ngFor="let question of lesson.questions | positionOrder:'asc'" class="question" [ngClass]="{ 'rtl':question.custom_properties.rtl_text}">


    <img *ngIf="question.prompts?.imagePrompt" [src]="question.prompts?.imagePrompt.url" class="image-prompt" />

    <h3 dir="auto">
        <b *ngIf="question.type !== 3 && !question.custom_properties.rtl_text" >({{question.position + 1}})</b>
        <b *ngIf="question.type === 3 && !question.custom_properties.rtl_text" style="font-size: 47px;font-family: cursive;">&quot;</b>
        <span class="keep-format" dir="auto" [innerHTML]="question.name == null || question.name == '' ? '...' : question.name"></span>
        <b *ngIf="question.type === 3 && question.custom_properties.rtl_text" style="font-size: 47px;font-family: cursive;">&quot;</b>
        <b *ngIf="question.type !== 3 && question.custom_properties.rtl_text" >({{question.position + 1}})</b>
        <i class="required" *ngIf="question.required">*</i>
    </h3>
    <h6 *ngIf="question.custom_properties != null && question.custom_properties.description_enabled" dir="auto" class="keep-format">{{question.description}}</h6>

    <app-multi-choice-renderer (answerChanged)="answerChanged($event)" *ngIf="question.type == 0" class="answer-input fit-content" [response]="getResponseForQuestion(question)" [ngClass]="{'answer-input-flex': question.custom_properties.stack}"  [question]="question"></app-multi-choice-renderer>
    <app-short-text-renderer (answerChanged)="answerChanged($event)" *ngIf="question.type == 1" class="answer-input" [question]="question" [response]="getResponseForQuestion(question)"></app-short-text-renderer>
    <app-long-text-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 2" class="answer-input" [question]="question" [response]="getResponseForQuestion(question)"></app-long-text-renderer>
    <!--<app-block-text-renderer *ngIf="question.type == 3" class="answer-input" [question]="question" ></app-block-text-renderer>-->
    <app-picture-choice-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 4" class="answer-input" [question]="question" [response]="getResponseForQuestion(question)"></app-picture-choice-renderer>
    <app-boolean-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 5" class="answer-input fit-content" [question]="question" [response]="getResponseForQuestion(question)"> </app-boolean-renderer>
    <app-scale-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 6" class="answer-input" [question]="question" [response]="getResponseForQuestion(question)"> </app-scale-renderer>
    <app-date-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 7" class="answer-input" [question]="question" [response]="getResponseForQuestion(question)"> </app-date-renderer>
    <app-number-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 8" class="answer-input" [question]="question" [response]="getResponseForQuestion(question)"> </app-number-renderer>
    <app-dropdown-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 9" class="answer-input" [question]="question" [response]="getResponseForQuestion(question)"> </app-dropdown-renderer>
        <app-voice-renderer [submission]="submission" [isReal]="!builderView" (answerChanged)="answerChanged($event)" *ngIf="question.type == 10" class="answer-input answer-input-wide" [question]="question" [response]="getResponseForQuestion(question)"> </app-voice-renderer>
    <app-cloze-renderer  (answerChanged)="answerChanged($event)" *ngIf="question.type == 11" [question]="question" [response]="getResponseForQuestion(question)"> </app-cloze-renderer>

    <div *ngIf="question && getResponseForQuestion(question) != null && question.prompts?.audioFeedback">
        <h3>Feedback</h3>
        <audio class="audio-controller" controls *ngIf="question.prompts?.audioFeedback">
            <source [src]="question.prompts?.audioFeedback.url">
        </audio>
    </div>

    <div *ngIf="question.type != 10 &&  getResponseForQuestion(question) != null && getResponseForQuestion(question).comments?.length > 0" class="comment-section">
        <div class="comment" *ngFor="let comment of getResponseForQuestion(question).comments | commentOrder">
            <p>{{comment.comment_text}}</p>
            <small class="left">{{comment.submitted | date}}</small>
            <small class="right">{{comment.user.username}}</small>
        </div>
    </div>


</div>
