<small style="color: grey;">Cloze Prompt</small>
<div contenteditable="true" class="content-editable-block" dir="auto" #field (input)="updateQuestionText(field,$event)" [innerHTML]="question.custom_properties.cloze_text | clozeFormat : question.custom_properties.cloze_prompts : question">

</div>
