a {
    color: #db4800;
}

#controllers a {
    text-decoration: underline;
}

#controllers a:hover {
    text-decoration: none;
}

.grails-logo-container {
    background: #7c7c7c no-repeat 50% 30%;
    margin-bottom: 20px;
    color: white;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
}

img.grails-logo {
    width: 65%;
    margin-top: 10px;
}

img.angular-logo {
    width: 15%;
    vertical-align: top;
}

.plus {
    font-size:8em;
}

.simple-card-content {
    width: 90%;
    margin-left: 2.5%;
    height: fit-content;
}

mat-grid-tile {
    padding-bottom: 5%;
}

.status-icon {
    float: right;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
mat-list-item {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px !important;
}

.clickable-list-item {
    cursor: pointer;
    background: #f3f3f3;
}

mat-list-item:last-child {
    border-bottom: none;
}



mat-spinner {
    left: calc(50% - 50px);
}

.special-span-tag-item {
    background: #3193bb;
    color: white;
    border-radius: 3px;
    padding: 0 5px;
}

.special-span-tag-item:hover {
    background: #30b5dc;
}

@media (max-width: 1200px) {
    .plus {
        font-size: 6em;
    }
}

@media (max-width: 880px) {
    .plus {
        font-size: 5em;
    }
}

@media (max-width: 650px) {
    .plus {
        font-size: 3em;
    }
}
