.panel-containers {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.side-panel {
  max-width: 400px;
  min-width: 400px;

}

.right-panel {

  border-left: 1px solid #e2e2e2;
  overflow: scroll;
}

.question-item {

}

.explainer {
  bottom: 12px;
  position: fixed;
  left: 11px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  border-radius: 10px;
  color: #7a7a7a;
  background: white;
}


.explainer:hover, .preview-toggle:hover {
  color: #1b1b1b;
}


.preview-toggle {
  cursor: pointer;
  bottom: 12px;
  position: fixed;
  right: 11px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  border-radius: 10px;
  color: #7a7a7a;
  background: white;
  z-index: 100;
}

.explainer_content {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
  position: fixed;
  left: 65px;
  border-radius: 10px;
  bottom: 12px;
  width: 313px;
  padding: 10px;
  background-color: white;
  z-index: 1000;
}

.explainer_content_table {
  width: 100%;
}

.explainer_content_table > tbody > tr > td {
  padding: 10px;
}


.explainer_content_table > tbody > tr > td:first-child {
  text-align: right;
}

.explainer_content_table > tbody > tr > td:first-child > span {

  border: 1px solid grey;
  background-color: lightgrey;
  padding: 3px 10px;
  border-radius: 3px;

}


.add_new_primary_button {
  position: relative;
  left: 20px;
  top: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}

.new_question_dialog_menu {
  width: 250px !important;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  height: 300px;
  overflow: scroll;
}


