<mat-sidenav-container class="panel-containers">
    <mat-sidenav mode="side" [(opened)]="sidebar_open" class="side-panel">
        <!--// This side panel content will be populated by what ever question is currently selected-->

        <app-sidebar [question]="sidebar_question" (closeSidebar)="closeSidebar()"
                     *ngIf="sidebar_question" (propertyChanged)="changed()"></app-sidebar>

    </mat-sidenav>
    <mat-sidenav-content>


        <mat-grid-list cols="4" rowHeight="100%" style="height: calc(100% + 0px + 1px);">
            <mat-grid-tile [colspan]="preview_hidden ? 4 : 2" [rowspan]="1" style="overflow-y: scroll;">


                <div *ngIf="lesson$ | async as lesson" style="width: 100%">
                    <app-lesson-question class="question-item"
                                         *ngFor="let question of lesson.questions | positionOrder : 'asc'"
                                         [question]="question" (questionDeleted)="deleteQuestion($event)"
                                         (questionSelected)="openSidebar($event)" [selectedQuestion]="currentQuestion"
                                         (click)="currentQuestion = question.id;sidebar_question = question"
                                         (questionChanged)="changed()" (text_selection)="text_selection($event)" [formatter_displayed]="selectedTextQuestion == question.id ? selectionShown : false"></app-lesson-question>
                    <div class="add_new_primary_button">
                        <button mat-fab color="primary" (click)="addNewQuestion()"><i class="material-icons">add</i>
                        </button>
                        <span style="margin-left: 15px;">Add question</span>
                        <div *ngIf="addQuestionDialogShown" class="new_question_dialog_menu">
                            <mat-list>
                                <mat-list-item *ngFor="let questionType of questionTypeList"
                                               (click)="addNewQuestionWithType(questionType)" style="cursor:pointer;">
                                    <div [classList]="'icon-q-block icon-q-block-'+questionType.value + ' material-icons'"></div>
                                    <h4 mat-line>{{questionType.name}}</h4>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </div>


                <i class="material-icons explainer" (mouseenter)="explainerContentDisplayed = true" (mouseleave)="explainerContentDisplayed = false">help</i>
                <div class="explainer_content" *ngIf="explainerContentDisplayed">
                   <span>Keyboard Shortcuts</span>

                    <div>
                        <table class="explainer_content_table">
                            <tbody>
<!--                            <tr>-->
<!--                                <td><span>@RB</span></td>-->
<!--                                <td width="150px"><p>Add Ruby text into the title or description of the question.</p></td>-->
<!--                            </tr>-->
                            <tr>
                                <td><span>@@</span></td>
                                <td width="150px"><p>Add a cloze prompt into a cloze question.</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

<!--                                Toggle preview -->
                <i class="material-icons preview-toggle" (click)="togglePreview()" [style.background-color]="preview_hidden ? '#fff' : '#006064'" [style.color]="preview_hidden ? '#006064' : '#fff'">search</i>




            </mat-grid-tile>
            <mat-grid-tile *ngIf="!preview_hidden" [colspan]="2" [rowspan]="1" class="right-panel">
                <!--// This is the preview panel.-->
                <div *ngIf="lesson$ | async as lesson" style="width: 100%;">
                    <app-lesson-renderer [lesson]="lesson" [builderView]="true"></app-lesson-renderer>
                </div>
            </mat-grid-tile>
        </mat-grid-list>


    </mat-sidenav-content>
</mat-sidenav-container>

