<div *ngFor="let question of lesson.questions | positionOrder">

    <app-multi-choice-renderer *ngIf="question.type == 0"></app-multi-choice-renderer>
    <app-short-text-renderer *ngIf="question.type == 1"></app-short-text-renderer>
    <app-long-text-renderer *ngIf="question.type == 2"></app-long-text-renderer>
    <app-block-text-renderer *ngIf="question.type == 3"></app-block-text-renderer>
    <app-picture-choice-renderer *ngIf="question.type == 4"></app-picture-choice-renderer>
    <app-boolean-renderer *ngIf="question.type == 5"> </app-boolean-renderer>
    <app-scale-renderer *ngIf="question.type == 6"> </app-scale-renderer>
    <app-date-renderer *ngIf="question.type == 7"> </app-date-renderer>
    <app-number-renderer *ngIf="question.type == 8"> </app-number-renderer>
    <app-dropdown-renderer *ngIf="question.type == 9"> </app-dropdown-renderer>
    <app-voice-renderer *ngIf="question.type == 10"> </app-voice-renderer>
    <app-cloze-renderer *ngIf="question.type == 11"> </app-cloze-renderer>


</div>
