::ng-deep .mat-form-field-underline {
    display: none;
}
.parent-container {
    width: 100%;
    padding: 15px;
}

.parent-container:hover {
    background-color: rgb(250,250,250);
}

.parent-container.selected {
    background-color: rgb(250,250,250);
}



.full-width {
    width: 100%;
}



.aux-buttons {
    text-align: right;
    margin-right: 27px;
    height: 24px;
}

.aux-buttons i {
    display: none;
    cursor: pointer;
}

.parent-container:hover .aux-buttons i {
     display: inline-flex;
}

.aux-selected i {
    display: inline-flex;
}

.field-required {
    color: red;
    position: absolute;
    left: 1px;
}


