::ng-deep .mat-form-field-underline {
    display: none;
}
.parent-container {
    width: 100%;
    padding: 15px;
}

.parent-container:hover {
    background-color: rgb(250,250,250);
}

.parent-container.selected {
    background-color: rgb(250,250,250);
}

.formatter {
    background: white;
    position: fixed;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.06) 0px 2px 12px;
    border-radius: 10px;
}

.formatter-button {
     padding: 10px 15px;
    border-radius: 5px;
 }

.formatter-button:hover {
    background-color: #ededed;
    cursor: pointer;
}

.full-width {
    width: 98%;
    height: fit-content;
}

.content-editable-block {
    margin-right: 27px;
}


.aux-buttons {
    text-align: right;
    margin-right: 27px;
    height: 24px;
}

.aux-buttons i {
    display: none;
    cursor: pointer;
}

.parent-container:hover .aux-buttons i {
     display: inline-flex;
}

.aux-selected i {
    display: inline-flex;
}

.field-required {
    color: red;
    position: absolute;
    left: 1px;
}


