.simple-card-content {
    width: 90%;
    margin-left: 2.5%;
    height: fit-content;
}

mat-grid-tile {
    padding-bottom: 5%;
}

.status-icon {
    float: right;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
mat-list-item {
    border-bottom: 1px solid #e6e6e6;
}

.status-icon-plain {
    border: 1px solid #464646;
    color: #464646;
}


.status-icon-DRAFT {
    background-color: #ffa500;
}


.status-icon-SUBMITTED {
    background-color: #3dff69;
}
