<div *ngIf="submission$ | async as submission">
    <mat-card class="response-card" *ngIf="submission && submission.user">
        <div class="response-card-content">
            <div class="response-card-header">
                <h3>{{submission.drafted | date}}</h3><span>{{submission.user.fullName}}</span>
            </div>
            <div class="response-card-body">
                <div class="response-card-question-item"
                     *ngFor="let response of submission.responses | positionOrder: 'asc'">
                    <div class="response-card-question-item-left">
                        <div class="icon-q-block icon-q-block-{{getQuestionType(response.question.id)}} material-icons"></div>
                    </div>
                    <div class="response-card-question-item-right">
                        <div class="spacer-small"></div>
                        <span [innerHTML]="getQuestionName(response.question.id)"></span>
                        <div class="spacer-medium"></div>
                        <div class="response-card-question-item-answer">
                            <app-answer-grading-renderer [question]="getQuestion(response.question.id)"
                                                         [response]="response" (gradeChanged)="updateGrade(submission)"></app-answer-grading-renderer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-button-container">
            <button mat-raised-button class="submit-button" (click)="submit(submission)">Submit</button>
            <label for="grade-input" style="margin-left: 15px;margin-top:10px">Grade: </label>
            <input id="grade-input" style="margin-left: 15px; width: 10%;" matInput class="classic-input-style" [(ngModel)]="submission.grade" placeholder="Grade">
            <label for="grade-input" style="margin-left: 15px;margin-top:10px">out of {{getMaxGrade()}} </label>
        </div>
    </mat-card>

</div>
