.response-card {
    margin-top: 2%;
    width: 60%;
    left: 20%;
    margin-bottom: 6%;
}

.response-card-header {
    border-bottom: 1px solid #d4d4d4;
}

.response-card-header > span {
    float: right;
    position: relative;
    top: -20px;
}

.response-card-content {
    width: 90%;
    margin-left: 5%;
}

.response-card-body {
    padding-top: 32px;
    padding-bottom: 32px;
}
.response-card-question-item:not(:last-child) {
    margin-bottom: 56px;
}

.response-card-question-item {
     display: -webkit-box;
     display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
     -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
     -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

.response-card-question-item-left {
    min-width: 0;
    min-height: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: auto;
    padding-right: 16px;
}

.response-card-question-item-right {
    min-width: 0;
    min-height: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.submit-button-container {
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 1%;
    display: inline-flex;
}


.single-controls {
    width: 100%;
    position: relative;
    margin: 10px;
    left: 1%;
    display: inline-flex;
}

.single-controls-right {
    position: absolute;
    right: 3%;
}

.single-controls > * > button {
    margin: 0 10px;
}

.submit-button {
    background: #3193bb;
    color: white;
}


.spacer-small{
    margin-top: 4px;
}

.spacer-medium {
    margin-top: 16px;
}
